<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Cotton On - Streamline Your Morning</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <div class="container" ng-controller="appCtrl">
      <nav>
        <div class="navWide">
          <div class="brand"><strong>Cotton</strong>On</div>
          <div class="wideDiv"><a href="login.html">Login</a><a class="active" href="index.html">Input</a><a href="home.html">Home</a></div>
        </div>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th>Label</th>
            <th>Category</th>
            <th>Action</th>
          </tr>
          <tbody>
            <tr>
              <td>
                <input class="form-control" ng-model="things.label">
              </td>
              <td>
                <select class="form-control" ng-model="things.category">
                  <option value="tshirt">T-shirts</option>
                  <option value="jacket">Jackets/Sweaters</option>
                  <option value="warmbottom">Heavy Pants</option>
                  <option value="bottoms">Light Pants</option>
                  <option value="longshirts">Long Sleeved Shirts</option>
                  <option value="shorts">Shorts/Skirts</option>
                  <option value="breezy">Flowy Tops</option>
                  <option value="summery">Dresses</option>
                </select>
              </td>
              <td>
                <button class="btn btn-primary" ng-click="addClothing()">Add Clothing</button>
              </td>
            </tr>
            <tr ng-repeat="things in list">
              <td>{{things.label}}</td>
              <td>{{things.category}}</td>
              <td>
                <button class="btn btn-danger" ng-click="remove(things._id)">Remove</button>
              </td>
            </tr>
          </tbody>
        </thead>
      </table>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="../routes/controller.js"></script>
    <script src="../routes/index.js"></script>
  </body>
</html>